<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/news.css">
    <title>CozyNews</title>
</head>
<body>
    <div class="nav-container">
        <ul>
            <li><img src="#" alt=""></li>
            <li><a href="/index">Home</a></li>
            <li><a href="/book">Books</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/news">News</a></li>
            <a class="profile-btn" href="/profile/<%= userid %>"><%= username %></a>
            <form action="/logout" method="POST">
                <button class="btn-logout"type="submit">Logout</button>
            </form>
        </ul>
    </div>
    <p class="line">___________________________________________________________</p>
<section class="slider-container">
<div class="slider-images">
    <% books.slice(0,7).forEach((book, index) => { %>
        <div class="slider-img">
            <a href="/comment/<%= book.bookid %>">
            </a>
            <img src="<%= book.image %>" alt="<%= book.title %>" width="400px" height="540px"/>
        </div>
    <% }); %>
</div>
<script src="../js/jQuery.js"></script>
    <script>
      jQuery(document).ready(function ($) {
        $(".slider-img").on("click", function () {
          $(".slider-img").removeClass("active");
          $(this).addClass("active");
        });
      });
    </script>


</body>
</html>







